html
  head
    title upos-server
  frameset(rows='150,*', frameborder='0', border='0', scrolling='no')
    frame(src='mainmenu.jade', scrolling='no', noresize='')
    frameset(cols='150,*', frameborder='0', border='0')
      frame(src='filemanage_menu.jade', scrolling='no', frameborder='0', border='0', framespacing='0', noresize='')
      frame(src='filedown.jade', name = 'filedown')
