doctype html
html
  head
    meta(charset='utf-8')
  body
    form(action='upload' method='post' enctype="multipart/form-data")
      div
        label 제목:
        input(type='text' name='title')
      div
        label 주차:
        select(name='weeks')
          option(value='') 주차
          - for(var i = 1; i < 17; i++) {
              p
                option(value='w#{i}') #{i}주차
          -}
      div
        label 분류:
        select(name='type')
          option(value='') 유형
          option(value='note') 강의노트
          option(value='present') 발표자료
          option(value='report') 과제물
      div
        label 파일:
        input(type='file' name='userfile')
        input(type='submit')
