html
head

  body
    map#Mainmenu(name='Mainmenu')
    area(shape='rect', alt='', title='', coords='8,0,195,28', href='', target='')
    area(shape='rect', alt='', title='', coords='198,0,293,28', href='', target='')
    area(shape='rect', alt='', title='', coords='297,0,439,28', href='', target='')
    area(shape='rect', alt='', title='', coords='442,0,541,28', href='', target='')
    area(shape='rect', alt='', title='', coords='544,0,730,28', href='', target='')
    p
      img(src='\public\images\Main Menu.jpg', width='730', height='28', border='0')
    p &nbsp;
