doctypehtml
html
  head
  body
    link(rel='stylesheet', media = 'screen', type = 'text/css', href='../public/stylesheets/menubar.css')
    #nav
      ul
        li
          a(href='/filepresent') FILE MANAGER
        li
          a(href='/mypage') MY PAGE
        li
          a(href='/user') USER INPUT(ROOT)
