doctypehtml
html
  head
    link(rel='stylesheet', media = 'screen', type = 'text/css', href='/stylesheets/menubar.css')
  body
    #main
      ul
        li
          a(href='/filepresent') FILE MANAGER
        li
          a(href='/mypage') MY PAGE

      #logout
        a(href='/logout')
          button.btn.btn-primary(type="button") Logout
