doctypehtml
html
  head
  body
    link(rel='stylesheet', media = 'screen', type = 'text/css', href='../public/stylesheets/menubar.css')
    #nav
      ul
        li
          a(href='/filepresent') FILE MANAGER
        li
          a(href='/mypage') MY PAGE

    div
      a(href='/logout')
        button.btn.btn-primary(type="button") Logout
        //li
        //a(href='/user') USER INPUT(ROOT)
