html
  head
  body
    link(rel='stylesheet', media = 'screen', type = 'text/css', href='./submenubar.css')
    #nav
      ul
        li
          a(href='/userlist') User 목록
        li
          a(href='/updateuser') User 등록
