#board {
  height:800px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color : white;
}

#board a {
  color: #00B7FF;
}

#board tr{
  text-align:center;
  height:35px;
  border-bottom:1px solid black;
}
#board th{
  border-bottom:2px solid black;
  padding: 20px 20px 0px 20px;
}
#board label{
  text-align : left;
  padding: 0px 0px 0px 40px;
}
#submit {
        background-color:white;
}


#upmain {
  text-align : left;
  padding: 10px 0px 0px 80px;
}
#upmain label{
  padding: 0px 50px 0px 60px;
}
#selectbox{
  text-align : left;
  padding: 0px 0px 0px 80px;
}
#selectbox label{
  padding: 0px 50px 0px 60px;
}

#myboard {
  height:800px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color : white;
}
