#nav {
        width:150px;
        height:100px;
        background-color:white;
}
#nav ul {
        /* 메뉴바 앞 불필요한 공간 제거 */
        padding-left:0px;
        /* 오른쪽 정렬 */
        float:left;
        /* 미세조정 */
        margin: 10px 10px 10px 10px;
}
#nav ul li{
        /* border line make at left */
        border-left: 1px solid black;
        /* 메뉴와 경계선 사이의 간격 넓히기 */
        padding:0px 7px 0px 10px;
}
#nav ul li a {
        /* 밑줄 제거 */
        text-decoration:none;
        /* 메뉴 색 변경 */
        color:black;
}
#nav_menu a:hover{
        /*  링크에 마우스 롤 오버시 하단에 밑줄 생김 */
        color:#D4F4FA;
        border-bottom:3px solid black;
}
