html
  head
  body
    link(rel='stylesheet', media = 'screen', type = 'text/css', href='./submenubar.css')
    #nav
      ul
        li
          a(href='/updatepassword') 비밀번호 변경
        li
          a(href='/updateinfo') 기본정보 변경
