extends mypageframe

block content
  form(action='/upload' method='post')
    p
      label 기존 PW 입력:
      input(type='password' name='password')
    p
      label 변경할 PW 입력:
      input(type='password' name='afterpassword')
    p
      label 변경할 PW 재입력:
      input(type='password' name='reenter_afterpassword')
    p
      button.btn.btn-lg.btn-primary.btn-block(type="submit") 수정
      button.btn.btn-lg.btn-primary.btn-block(type="reset") 취소
