extends mypageframe
block head
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
block content
  div(id='myboard')
    form(action='/upload' method='post')
      div(id='myobject')
        a username #{username}
        p
        a 연락처
        input(type='text' name='phonenumber')
        p
        a 이메일
        input(type='text' name='email')
        p
        div(id='mybutton')
          button.btn.btn-lg.btn-primary.btn-block(type="submit") 수정
          button.btn.btn-lg.btn-primary.btn-block(type="reset") 취소
